*.py?
*.sw?

/Products.PloneLanguageTool.egg-info/
/.ropeproject/config.py
/.ropeproject/globalnames
/.ropeproject/history
/.ropeproject/objectdb
/Products/PloneLanguageTool/.ropeproject/config.py
/Products/PloneLanguageTool/.ropeproject/globalnames
/Products/PloneLanguageTool/.ropeproject/history
/Products/PloneLanguageTool/.ropeproject/objectdb
